<!-- Generated template for the InfocardComponent component -->
<div class="card" (click)="upward()">
  <div class="color-bar" [style.backgroundColor]="getColor()"></div>
  <div class="header" [style.color]="getColor()">{{status}}</div>
  <div class="container" style="display: -webkit-box">
    <div class="text-container">
      <div class="transportation-status"></div>
      <p>运单号：{{trackingNumber}}</p>
      <p>{{packageName}}</p>
    </div>
    <div class="goods-photo">
      <img src="assets/">
    </div>
  </div>
</div>
